	<div class="container1">
    	<div class="row">
            <h1 class="center"><%= @name %></h1>
        </div>
    </div>

    <div class="row center">
    	<p><a href="/departments">Departments</a> > <%= @name %></p>
    </div>

    <div class="col-md-4" style="background-color: #f6f6f6; height: 100%; padding-bottom: 50px;">
    	<h2>Contact</h2>
    	<img src="<%= @contact["image"] %>" alt="<% @contact["name"] %>" width="80%">
    	<p><%= @contact["name"] %></p>
    	<p><%= @contact["phone"] %></p>
    	<a href="mailto: <%= @contact["email"] %>"><%= @contact["email"] %></a>
    </div>

    <div class="col-md-8" style="padding-left: 20px;">

    	<h2>Description</h2>
    	<p><%= @description %></p>

    	<h2>Services</h2>
    	<p><%= @services["message"] %></p>
    	<ul>
    	  <% @services["services"].each do |s| %>
    		<li><%= s %></li>
    		<% end %>
    	</ul>

    	<h2>Staff</h2>
    	<% @staff.each do |s| %>
    	<div class="row staff-profile">
    		<div class="col-md-3" style="margin-left: -15px; margin-right: -15px;">
    		  <img src=<%= s.image %> width="100%" height="150px">
    		</div>
    		<div class="col-md-8">
    		  <h3><%= s.first_name %> <%= s.last_name %></h3>
    		  <h4>Title</h4>
    		</div>


    	</div>
    	<% end %>

    	<br>
    </div>


