<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>

<body>
	<div class="container1">
    	<div class="row">
            <h1 class="center"><%= @name %></h1>
        </div>
    </div>
    
    <div class="row center">
    	<p><a href="/departments">Departments</a> > <%= @name %></p>
    </div>

    <div class="col-md-4" style="background-color: #f6f6f6; height: 100%; padding-bottom: 50px;">
    	<h2>Contact</h2>
    	<img src="<%= @contact["image"] %>" alt="<% @contact["name"] %>" width="80%">
    	<p><%= @contact["name"] %></p>
    	<p><%= @contact["phone"] %></p>
    	<a href="mailto: <%= @contact["email"] %>"><%= @contact["email"] %></a>
    </div>
    
    <div class="col-md-8" style="padding-left: 20px;">
      
    	<h2>Description</h2>
    	<p><%= @description %></p>
    	
    	<h2>Services</h2>
    	<p><%= @services["message"] %></p>
    	<ul>
    	  <% @services["services"].each do |s| %>
    		<li><%= s %></li>
    		<% end %>
    	</ul>
    	
    	<h2>Staff</h2>
    	<% @staff.each do |s| %>
    	<div class="col-md-3 staff-profile center" style="background-color: #f6f6f6; border-style: solid; border-color: white; height: 150px;">
    		<img src=<%= s %> width="100%" height="120px">
    		<p><%= s.first_name %> <%= s.last_name %></p>
    	</div>
    	<% end %>
    	
    	<br>
    </div>
        
</body>
</html>