<!DOCTYPE html>
<html>
 <head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
 </head>

 <body>
  <br/>
  <div class="container">
   <div class="row">
    <div class="col-md-6">
     <h1 class="center">Directory</h1>
     <p>Enter a full or partial name (first or last or nickname), and/or select a neighborhood.
           If you provide no information, all residents will be shown.</p>
     <p>Click 'Reset' to clear your search and search again.</p>
     <br/>
     <br/>

     <% @search = Profile.search(params[:q]) %>
     <form> <%= search_form_for @search, url: '/search' do |f| %>
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label "Search for resident:", class: "col control-label" %>
          <%= f.search_field :full_name_or_nickname_cont, class: "form-control", placeholder: 'Enter name' %>
          <br/>
          <%= f.label "Neighborhood", class: "col control-label" %>
          <%= f.collection_select(:neighborhood_eq, Profile.select(:neighborhood).uniq.order(:neighborhood), :neighborhood, :neighborhood, :include_blank => true) %>
          <br/>
        </div>
      </div>
      <br/><center>
      <%=f.submit "Search", class: "btn btn-primary btn-large"%>
      <br/>
      <br/>
      <a class="reset" href="/search">Reset</a></center>
    <% end %>
   </div>

   <div class="col-md-6 center">
    <% if params[:q].present? %>
      <h1 class="center">Results</h1>
     <% @results = Profile.ransack(params[:q]).result.order("last_name ASC, first_name ASC") %>
     <% if Profile.ransack(params[:q]).result.blank? %>
      <div class="two">No results. Try searching for something else.</div>
     <% else %>
      <% @results.each do |person| %>
       <p>
        <a href= <%= profile_path(person.id) %> >   <%= person.first_name %> <%= person.last_name %></a>
       </p>
      <% end %>
     <% end %>
    <% end %>
   </div>
  </div>
 </body>
</html>