<% @allProfiles = Profile.ransack(params[:q]).result %>
 <div class="one">
  <br/>
<br/>
  
  <%if user_signed_in? && current_user.admin %>
  <p> <font size="6"> 
<font size="7" face="arial black">Edit Residents</font>
   <% @search = @allProfiles.search(params[:q]) %>
   <%= search_form_for @search, url: '/static_pages/display' do |f| %>
     <%= f.label :first_name_cont %>
     <%= f.search_field :first_name_cont %>
     <br/>
     <br/>
     <%= f.label :last_name_cont %>
     <%= f.search_field :last_name_cont %>
     <br/>
     <br/>
     <%= f.submit %>
     <br/>
     <br/>
     <% end %>

<% @results = @allProfiles.ransack(params[:q]).result %>
<% if @results.length > 0 %>
 <div class="one">
   <% @results.each do |person| %>

<% end %>
   </div>
<% else %>
 <div class="two">No results. Try searching for something else.</div>
<% end %>
  <%end%>
  
  
  <%if user_signed_in? && current_user.admin %>
  <p> <font size="6" face="Arial Black">
   <%= link_to "Add new Resident", "/profiles/new" %></li>
   </div>
  <%end%>
  <br/>
   <% @allProfiles.each do |person| %>
<p> <font size="4"> 

<%= image_tag person.last_name.to_s + ", " + person.first_name.to_s+".png", size: 100 %>
<a href= <%= "/profiles/" + person.id.to_s %> >   </font><font size="6"><%= person.first_name %> <%= person.last_name %></a> 
<font/>
<font size="4">
<br/>
Nickname: <%= person.nickname %>
<br/>
Email: <%= person.email %>
<br/>
Spouse: <%= person.spouse %>
<br/>
Landline: <%= person.landline %>
<br/>
Cellphone: <%= person.cell %>
<br/>
Address: <%= person.address %>


<% if current_user.admin %>
 <%= link_to "edit", "/profiles/" + person.id.to_s + "/edit"  %>
<% end %>
<% if current_user.admin %>
    | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
<br/>
<br/>
<% end %>
