<div class="container1">
  <div class="row">
	  <h1 class="center">Resources</h1>
    <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
    <a href="https://www.accuweather.com/en/us/grinnell-ia/50112/weather-forecast/333134" class="aw-widget-legal">
        <!--
          By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
          -->
    </a>
    <div id="awcc1522811744052" class="aw-widget-current"  data-locationkey="333134" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1522811744052"></div>
  </div>

	<div class="row galleries">

		<%= render partial: "layouts/gallery_cardview", locals: { url: resources_library_path,	img: "mf_resrc_library.JPG", title: "Mayflower Library"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "http://www.mayflowerhomes.com/calendar/", img: "http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6ju77n1b1l1t2d12or1vhf6o6p.jpg", title: "Mayflower Calendar"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "http://www.mayflowerhomes.com/menus/", img: "http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6kcb5m1a2trodpnp4j21nmt3u.jpg",	title: "Mayflower Dining Menu"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "http://www.mayflowerhomes.com/newsletters/", img: "http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6khnbp27b1foi11sc11mh3r8p.jpg",	title: "Mayflower Newsletters"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "https://www.grinnell.edu/calendars/frontpage-hotevents", img: "http://galined.com/wp-content/uploads/2017/06/Grinell-College.jpg",	title: "Grinnell College Events"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "https://www.grinnellchamber.org/en/events/community_calendar/", img: "https://www.pdga.com/files/u5379/Grinnell_Games_Putt.jpg",	title: "Community Calendar"} %>

		<%= render partial: "layouts/gallery_cardview", locals: { url: "http://www.grinnelliowa.gov/", img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Grinnell_Iowa_-_downtown.jpg/1200px-Grinnell_Iowa_-_downtown.jpg",	title: "Grinnell City Website"} %>

	</div>
</div>