<!DOCTYPE html>
<html>
<body>
 <br/>
 <div class="row">
<div class="col-md-5">
<font size="7">Search</font>
 <br/>
 <font size="4">Fill in as much as you wish.
 <br/> If you provide no information, all residents will be shown. The results are further down the page.</font>
 <br/>
 <br/>
</body>
</html>

<% @search = Profile.search(params[:q]) %>
<form>
<%= search_form_for @search, url: '/static_pages/search' do |f| %>
<div class="form-horizontal">
 <div class="form-group">
  <%= f.label "First name", class: "col control-label"%>
   <div class="col">
    <%= f.search_field :first_name_cont, class:"form-control", placeholder: 'Enter first name' %>
   </div>
   </div>
</div>
 <div class="form-horizontal">
  <div class="form-group">
  <%= f.label "Last name", class: "col control-label" %>
   <div class="col">
    <%= f.search_field :last_name_cont, class: "form-control", placeholder: 'Enter last name' %>
    </div>
   </div>
  </div>
  <div class="form-horizontal">
  <div class="form-group">
  <%= f.label "Neighborhood", class: "col control-label" %>
   <div class="col">
    <select class="custom-select">
     <option selected>Select Neighborhood</option>
     <option value="1">Neighborhood1</option>
     <option value="2">Neighborhood2</option>
     <option value="3">Neighborhood3</option>
    </select>
    </div>
    </div>
 </div>
  <br/>
  <%=f.submit "Search", class: "btn btn-primary btn-large"%>
  <br/>
  <br/>
  <br/>
<% end %>
</form>
</div>
</div>

<div class="row">
<% @results = Profile.ransack(params[:q]).result %>
<div class
<% if @results.length > 0 %>
 <div class="one">
  <p> <font size="6"> Results: </font></p>
   <% @results.each do |person| %>
<p> <font size="5"> 
<a href= <%= "/profiles/" + person.id.to_s %> >   <%= person.first_name %> <%= person.last_name %></a> 
<br/>
<font/>
<% end %>
   </div>
<% else %>
 <div class="two">No results. Try searching for something else.</div>
<% end %>
</div>
