<!DOCTYPE html>
<html>
<body>
 <br/>
<font size="7">Search Page</font>
 <br/>
 <font size="4">You don't have to fill in all these information to search. Fill in as much as you wish.
 <br/> If you provide no information, all residents will be shown. The result section is further down the page.</font>
 <br/>
 <br/>
 <font size="4"> If you wish to change your account password, there is a link on the home page.</font>
 <br/>
 <br/>
</body>
</html>

<% @search = Profile.search(params[:q]) %>

<%= search_form_for @search, url: '/static_pages/search' do |f| %>

  <%= f.label :first_name_cont %>
  <%= f.search_field :first_name_cont %>
  <br/>
  <br/>
  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont %>
  <br/>
  <br/>
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
  <br/>
  <br/>
  <%= f.label :landline_cont %>
  <%= f.search_field :landline_cont %>
  <br/>
  <br/>
  <%= f.label :cell_cont %>
  <%= f.search_field :cell_cont %>
  <br/>
  <br/>
  <%= f.label :neighborhood_cont %>
  <%= f.search_field :neighborhood_cont %>
  <br/>
  <br/>
  <%= f.label :nickname_cont %>
  <%= f.search_field :nickname_cont %>
  <br/>
  <br/>
  <%= f.label :address_cont %>
  <%= f.search_field :address_cont %>
  <br/>
  <br/>
  <%= f.label :spouse_cont %>
  <%= f.search_field :spouse_cont %>
  <br/>
  <br/>
  <%= f.submit %>
  <br/>
  <br/>
  <br/>
<% end %>

<% @results = Profile.ransack(params[:q]).result %>
<% if @results.length > 0 %>
 <div class="one">
  <p> <font size="6"> Results: </font></p>
   <% @results.each do |person| %>
<p> <font size="5"> 
<a href= <%= "/profiles/" + person.id.to_s %> >   <%= person.first_name %> <%= person.last_name %></a> 
<br/>
<font/>
<% end %>
   </div>
<% else %>
 <div class="two">No results. Try searching for something else.</div>
<% end %>
