<h1>Pictures</h1>

<%= search_form_for @search, url: "" do |f| %>
  <%= f.label "Search for resident:", class: "col control-label" %>
  <%= f.search_field :full_name_or_nickname_cont, class: "form-control", placeholder: 'Enter name' %>
  <%= f.label "Neighborhood", class: "col control-label" %>
  <%= f.collection_select(:neighborhood_eq, Profile.select(:neighborhood).uniq.order(:neighborhood), :neighborhood, :neighborhood, include_blank: true) %>
  <%= f.submit "Search", class: "btn btn-primary btn-large" %>
  <a class="btn btn-primary btn-large" href="<%= directory_path %>">Reset</a>
<% end %>

<main class="pictures">
  <% if @results.blank? %>
    <p>No results. Try searching for something else.</p>
  <% else %>
    <% @results.each do |profile| %>
      <a class="profile" href="<%= profile[:link] %>">
        <img class="profile__picture" src="<%=profile[:image_url] %>">
        <h2 class="profile__name">
          <%= profile[:name] %>
        </h2>
      </a>
    <% end %>
  <% end %>
</main>

<% provide(:image_credit, raw('
  Default profile icon made by <a href="https://www.freepik.com/">Freepik</a>
  from <a href="https://www.flaticon.com/">www.flaticon.com</a>
')) %>
