<div class="page-header">
  <h1><%= @user.first_name %> Profile</h1>
</div>

<p>
  <b>
    <br/>
  <font size = 5><%= @user.first_name %> <%= @user.last_name %><font/>
  </b>
  <br/>
  <br/>
  
  <font size = 3>
  
    <b>Email: </b>
  <%= @user.email %>
  <br/>
  
    <b>Landline:</b>
  <%= @user.landline %>
  <br/>
  
    <b>Cell:</b>
  <%= @user.cell %>
  <br/>
  
   <b>Neighborhood:</b>
  <%= @user.neighborhood %>
  <br/>
  
   <b>Nickname:</b>
  <%= @user.nickname %>
  <br/>
  
   <b>Address:</b>
  <%= @user.address %>
  <br/>
  
  <b>Spouse:</b>
  <%= @user.spouse %>
  <br/>
  
  <font/>
  
</p>

