<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <script> require 'aws-sdk-s3'  </script>
  </head>

  <body>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1><%= @profile.first_name %> <%= @profile.last_name%></h1>
        </br>
        </br>

        <div class="img_container">
          <img src="<%= @image_url %>">
        </div>
      </div>

      <div class="col-md-8">
        <p>
        <%# </br> </br> </br> </br> </br> </br> %> </br>
        <font size = 5>

        <% if @profile.email.present? %>
          <b>Email: </b>
        <a href="mailto:<%= @profile.email %>"> <%= @profile.email %> </a>
          <br/>
        <% end %>

        <%if @profile.landline.present?
            if @profile.landline.length < 10
              @profile.landline = "641" + @profile.landline
            end
          end %>

        <% if @profile.landline.present? %>
          <b>Landline:</b>
        <a href="tel:<%= @profile.landline %>"><%= number_to_phone(@profile.landline,area_code: true) %></a>
          <br/>
        <% end %>

         <%if @profile.cell.present?
             if @profile.cell.length < 10
              @profile.cell = "641" + @profile.cell
              end
            end
          %>

         <% if @profile.cell.present? %>
          <b>Cell:</b>
          <a href="tel:<%= @profile.cell %>"><%= number_to_phone(@profile.cell,area_code: true) %></a>
          <br/>
        <% end %>

        <% if @profile.neighborhood.present? %>
          <b>Neighborhood:</b>
          <%= @profile.neighborhood %>
          <br/>
        <% end %>

        <% if @profile.nickname.present? %>
          <b>Nickname:</b>
          <%= @profile.nickname %>
          <br/>
        <% end %>

        <% if @profile.address.present? %>
          <b>Address:</b>
          <%= @profile.address %>
          <br/>
        <% end %>

        <% if @profile.spouse.present? %>
          <b>Spouse:</b>
          <%= @profile.spouse %>
          <br/>
        <% end %>

        <% if @profile.biography.present? %>
          <b>Biography:</b>
            <div id="bio", style="font-size:25px; white-space: pre-line; text-align:justify">
              <%= normalize_line_breaks @profile.biography %>
            </div>
        <% end %>

          </br>
          <% if current_user.admin %>
             <%= link_to "Edit", "/profiles/" + @profile.id.to_s + "/edit"  %>
              | <%= link_to "Delete", @user, method: :delete,
                                    data: { confirm: "Are you sure you want to delete this profile?" } %>
          <% end %>

          </br>
          </br>
          <%= link_to "Back to directory", :back %>
          </font>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
$(document).ready(function() {
  var minimized_elements = $("#bio");
  var minimize_character_count = 100;

  minimized_elements.each(function(){
    var t = $(this).text();
    if(t.length < minimize_character_count ) return;

    $(this).html(
        t.slice(0,minimize_character_count )+
        '<span>... </span><a href="#" class="read_more" style="font-size:25px">Read more</a>'+
        '<span style="display:none;">'+ t.slice(minimize_character_count, t.length) + ' ' +
        '<a href="#" class="read_less" style="font-size:25px">Read less</a></span>'
      );
  });

  $('a.read_more', minimized_elements).click(function(event){
    event.preventDefault();
    $(this).hide().prev().hide();
    $(this).next().show();
  });

  $('a.read_less', minimized_elements).click(function(event){
    event.preventDefault();
    $(this).parent().hide().prev().show().prev().show();
  });
});
</script>
