<%# Note: This is a workaround. %>
<%# Heroku isn't properly calling ProfilesController#show %>
<% @profile = Profile.find(params[:id]) %>
<div class="page-header">
  <h1><%= @profile.first_name %> <%= @profile.last_name%></h1>
</div>


<script> require 'aws-sdk-s3'  </script>

<% uploader = AvatarUploader.new %>
<% uploader.retrieve_from_store!(@profile.last_name.to_s + ", " + @profile.first_name.to_s+".png") %>
<% imageURL = uploader.url %>


<%  s3 = Aws::S3::Resource.new(region: 'us-east-2', credentials: Aws::Credentials.new(ENV['AWS_ACCESS_KEY_ID'], ENV['AWS_SECRET_ACCESS_KEY'])) %>
<% bucket =  s3.bucket('mayflower-data') %>

<% file = uploader.url %>
<% if bucket.object("images/" + @profile.last_name.to_s + ", " + @profile.first_name.to_s+".png").exists?
  imageURL = uploader.url
else
  imageURL = image_url("flower.jpg")
end
%>

<img src="<%= imageURL%>", height= "300", width= "300" />

<p>

  <br/>
  <br/>
  
  <font size = 3>
  
  
  <% if @profile.email.present? %>
    <b>Email: </b>
  <a href=“mailto:<%= @profile.email %>”> <%= @profile.email %> </a>
    <br/>
  <% end %>
  
  <%if @profile.landline.present?
  if @profile.landline.length < 10
  @profile.landline = "641" + @profile.landline
  end
end
  %>

  <% if @profile.landline.present? %>
    <b>Landline:</b>
  <a href="tel:<%= @profile.landline %>"><%= number_to_phone(@profile.landline,area_code: true) %></a>  
    <br/>
  <% end %> 
  
   <%if @profile.cell.present?
   if @profile.cell.length < 10
  @profile.cell = "641" + @profile.cell
  end
end
  %>

   <% if @profile.cell.present? %>
    <b>Cell:</b>
  <a href="tel:<%= @profile.cell %>"><%= number_to_phone(@profile.cell,area_code: true) %></a>
    <br/>
  <% end %>

 <% if @profile.neighborhood.present? %>
   <b>Neighborhood:</b>
  <%= @profile.neighborhood %>
    <br/>
  <% end %>

   <% if @profile.nickname.present? %>
   <b>Nickname:</b>
  <%= @profile.nickname %>
    <br/>
  <% end %>
  
   <% if @profile.address.present? %>
   <b>Address:</b>
  <%= @profile.address %>
    <br/>
  <% end %>

   <% if @profile.spouse.present? %>
  <b>Spouse:</b>
  <%= @profile.spouse %>
    <br/>
  <% end %>

  <font/>
  
</p>

