<div class="page-header">
  <h1><%= @profile.first_name %> <%= @profile.last_name%></h1>
</div>

<%= image_tag @profile.first_name.to_s + @profile.last_name.to_s+".png" %>

<p>

  <br/>
  <br/>
  
  <font size = 3>
  
  
  
    <b>Email: </b>
  <%= @profile.email %>
  <br/>
  
    <b>Landline:</b>
  <%= @profile.landline %>
  <br/>
  
    <b>Cell:</b>
  <%= @profile.cell %>
  <br/>
  
   <b>Neighborhood:</b>
  <%= @profile.neighborhood %>
  <br/>
  
   <b>Nickname:</b>
  <%= @profile.nickname %>
  <br/>
  
   <b>Address:</b>
  <%= @profile.address %>
  <br/>
  
  <b>Spouse:</b>
  <%= @profile.spouse %>
  <br/>
  
  <font/>
  
</p>

