<li>
  <p>Name: <%= user.name %> </p>
  <p>Email: <%= user.email %></p>

  <% if current_user.admin %>
  <%= link_to "Edit User Information", edit_info_user_path(user), class: "btn btn-secondary btn-medium" %>
  <%= link_to "Reset User Password", edit_password_user_path(user), class: "btn btn-secondary btn-medium" %>
  <%= link_to "Delete", user, method: :delete, class: "btn btn-alert btn-medium",
                                  data: { confirm: "Are you sure you want to delete this user?" } unless user.admin %>
  <% end %>

</li>
