<% provide(:title, "Reset Password") %>
<h1 class="center">Reset user password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p>Email: <%= @user.email %></p>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <center>
        <%= f.submit "Save", class: "btn btn-primary btn-large" %>
      </center>
    <% end %>
  </div>
</div>
