<%= form_for @department do |f| %>
<%= render 'shared/error_messages', object: f.object%>
  <div class="form-horizontal", style="text-align:left">
    <div class="form-group">

      <div class="col-md-4" style="background-color: #f6f6f6; height: 100%; padding-bottom: 50px;">
      	<h2><%= f.label :contact %></h2>
        <%= f.text_field :contact, class: 'form-control', placeholder: 'Enter contact information' %>
      </div>

      <div class="col-md-8" style="padding-left: 20px;">

        <h2><%= f.label :name %></h2>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter department name' %>

      	<h2><%= f.label :description %></h2>
      	<%= f.text_field :description, class: 'form-control', placeholder: 'Enter description' %>

      	<h2><%= f.label "Services" %></h2>
      	<ul>
          <%= f.fields_for :services do |service|%>
          <%= render 'service_fields', :f => service %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'add service', f, :services %>
          </div>
        </ul>

        <!-- TODO: Implement me
        	<h2>Staff</h2>
            <p> Not implemented</p>
        -->

      </div>
      <div class="clear" style="clear: both">
      </div>

    </div>
  </div>
<center>
  <%= f.submit "Save", class: "btn btn-primary btn-large" %>
  <!-- TODO: add return/cancel button -->
  <%= link_to "Delete", @department, method: :delete, class: "btn btn-primary btn-large",
                            data: { confirm: "Are you sure you want to delete this department?"
                            } %>
</center>
<% end %>

