<h1 class="center">Editing Department</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@department) do |f| %>
      <%= render 'shared/error_messages_for_department' %>
        <div class="form-horizontal", style="text-align:left">
            <div class="form-group">
  
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Enter department name' %>
            
            <%= f.label :contact %>
            <%= f.text_field :contact, class: 'form-control', placeholder: 'Enter contact information' %>
            
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'Enter description' %>
            
            <%= f.label "Services" %>
            <ul>
              <% @department.services.each do |service|%>
              <li>
              <%= service.content%>
              <%= link_to 'Edit', edit_service_path(service)%>
              |
              <%end%>
            </li>
            
        	 
        	<%=link_to 'Add a new service', new_service_path %>
        	</ul>
            </div>
        </div>
      <center>
        <%= f.submit "Save", class: "btn btn-primary btn-large" %>
      </center>
      <% end %>
  
    </div>
  </div>
  
<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>
