<p id="notice"><%= notice %></p>

<h1 class="center">Departments</h1>

<% if current_user.admin %>
  <center class="btns-bar">
    <div class="row">
      <%= link_to 'Create Department', new_department_path, class: "btn btn-primary btn-medium" %>
    </div>
  </center>
<% end %>

<center>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <div class="gallery">
            <a href= <%= "/departments/" + department.id.to_s %> >
              <!-- TODO: used to be department.picture.url but broken, justso the link is truncated -->
      			<img src= <%= department.picture%> >
         		<h2 class="info"> <%= department.name%> </h2></a>
        </tr>
      <% end %>
    </tbody>
  </table>
</center>