%h1 Listing departments

%table
  %thead
    %tr
      %th Name
      %th Contact
      %th Description
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.contact
        %td= department.description
        %td= link_to 'Show', department
        %td= link_to 'Edit', edit_department_path(department)
        %td= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Department', new_department_path
