
<!-- <p id="notice"><%= notice %></p> -->

<h1 class="row center"><%= @department.name %></h1>

<div class="row center dept-breadcrumbs" style="margin: 15px;">
  <a href="/departments" >Departments</a> > <%= @department.name %>
</div>

<center class="btns-bar">
  <% if current_user.admin %>
    <%= link_to "Edit", "/departments/" + @department.id.to_s + "/edit", class: "btn btn-primary btn-medium"  %>
     <%= link_to "Delete", @department, method: :delete, class: "btn btn-alert btn-medium",
                          data: { confirm: "Are you sure you want to delete this department?" } %>
  <% end %>
</center>

<section class="department-info">
  <div class="col-md-4 dept-col--contact">
    <section>
    	<h2>Contact</h2>
    	<p>Add a staff for this <p>
    <section>
  </div>

  <div class="col-md-8 dept-col--description">

    <section>
    	<h2>Description</h2>
    	<p><%= @department.description %></p>
    </section>

    <section>
    	<h2>Services</h2>
    	<ul>
    	  <% @services.each do |s| %>
    		<li><%= s.content %></li>
    		<% end %>
    	</ul>
  	<section>

    <!-- TODO: Implement me
    	<h2>Staff</h2>
        <p> Not implemented</p>
    -->
  </div>
</section>

<!-- Stops footer from rising -->
<div class="clear" style="clear: both"></div>


