%p#notice= notice

%p
  %b Name:
  = @department.name
%p
  %b Contact:
  = @department.contact
%p
  %b Description:
  = @department.description

= link_to 'Edit', edit_department_path(@department)
\|
= link_to 'Back', departments_path
