
<p id="notice"><%= notice %></p>
    <div class="container1">
    	<div class="row">
            <h1 class="center"><%= @department.name %></h1>
        </div>
    </div>

    <div class="row center">
    	<p><a href="/departments">Departments</a> > <%= @department.name %></p>
    </div>

    <div class="col-md-4" style="background-color: #f6f6f6; height: 100%; padding-bottom: 50px;">
    	<h2>Contact</h2>
    	<p>Add a staff for this <p>
    </div>

    <div class="col-md-8" style="padding-left: 20px;">
      </br>
      </br>
          <% if current_user.admin %>
             <%= link_to "Edit", "/departments/" + @department.id.to_s + "/edit"  %>
              | <%= link_to "Delete", @department, method: :delete,
                                    data: { confirm: "Are you sure you want to delete this department?" } %>
          <% end %>

    	<h2>Description</h2>
    	<p><%= @department.description %></p>

    	<h2>Services</h2>
    	<ul>
    	  <% @services.each do |s| %>
    		<li><%= s.content %></li>
    		<% end %>
    	</ul>

    	<h2>Staff</h2>
        <p> Not implemented</p>

    	</br>
      </br>
        <%= link_to "Back to departments", :back %>
    </div>
 <div class="clear" style="clear: both">
  </div>
    </body>
</html>
