
<p id="notice"><%= notice %></p>
    <div class="container1">
    	<div class="row">
            <h1 class="center"><%= @name %></h1>
        </div>
    </div>

    <div class="row center">
    	<p><a href="/departments">Departments</a> > <%= @department.name %></p>
    </div>

    <div class="col-md-4" style="background-color: #f6f6f6; height: 100%; padding-bottom: 50px;">
    	<h2>Contact</h2>
    </div>

    <div class="col-md-8" style="padding-left: 20px;">

    	<h2>Description</h2>
    	<p><%= @department.description %></p>

    	<h2>Services</h2>
    	<ul>
    	  <% @services.each do |s| %>
    		<li><%= s.content %></li>
    		<% end %>
    	</ul>

    	<h2>Staff</h2>
        <p> Not implemented</p>

    	<br>
    </div>


