
<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1><%= @department.name%></h1>
        </br>
        </br>

        <div class="img_container">
          <img src="<%= @image_url %>">
        </div>
      </div>

      <div class="col-md-8">
        <p> </br>

    <b>Description:</b>
        <div id="des", style="font-size:25px; white-space: pre-line; text-align:justify">
          <%= @department.description %>
        </div>
    
    <b>Services:</b>
    <div id="service", style="font-size:25px; white-space: pre-line; text-align:justify">
    <%@services.each do |service|%>
          <%= service.content %>
        </div>
    <%end%>
        
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>


