
<!-- <p id="notice"><%= notice %></p> -->

<h1 class="row center"><%= @department.name %></h1>

<p class="row center breadcrumb">
  <a href=<%= department_path %> >Departments</a> > <%= @department.name %>
</p>

<% if current_user.admin %>
<center class="btns-bar">
  <%= link_to "Edit", "/departments/" + @department.id.to_s + "/edit", class: "btn btn-primary btn-medium"  %>
   <%= link_to "Delete", @department, method: :delete, class: "btn btn-alert btn-medium",
                        data: { confirm: "Are you sure you want to delete this department?" } %>
</center>
<% end %>

<section class="department-info">
  <div class="col-md-4 dept-col--contact">
    <section>
    	<h2>Contact</h2>
    	<p>Add a staff for this <p>
    </section>
  </div>

  <div class="col-md-8 dept-col--description">

    <section>
    	<h2>Description</h2>
    	<p><%= @department.description %></p>
    </section>

    <section>
    	<h2>Services</h2>
    	<ul>
    	  <% @services.each do |s| %>
    		<li><%= s.content %></li>
    		<% end %>
    	</ul>
  	</section>

  	<section>
    	<h2>Staff</h2>

      <main class="pictures">
        <%= render partial: "layouts/profile_cardview", locals: {title: "Dennis Chan", url: "", img: ""} %>
        <%= render partial: "layouts/profile_cardview", locals: {title: "John Lennon", url: "", img: ""} %>
        <%= render partial: "layouts/profile_cardview", locals: {title: "Tran Le", url: "", img: ""} %>
      </main>

    </section>

  </div>
</section>

<!-- Stops footer from rising -->
<div class="clear" style="clear: both"></div>


