<h1>Log In</h1>
    <div class="row">
      <div class="col-md-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-horizontal", style="text-align:left">
                <div class="form-group">
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, placeholder: "Enter email" %>
                  </div>
                 <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password" %>
                  </div>
                </div>
              </div>
              <%= f.submit "Log in", class: "btn btn-primary btn-large"%>
            <% end %>
      </div>
    </div>
