<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Mayflower Directory", '/static_pages/home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.admin %>
          <li><%= link_to "Create Users", '/auth/register/sign_up' %></li>
        <% end %>
        <% if user_signed_in? && current_user.admin %>
          <li><%= link_to "Edit Residents", '/static_pages/display' %></li>
        <% end %>
        <%if user_signed_in?%>
        <li><%= link_to "Home",   '/static_pages/home' %></li>
        <%end%>
        <%if user_signed_in?%> 
        <li><%= link_to "Search",   '/static_pages/search' %></li>
        <%end%>
        <% if user_signed_in? && !current_user.admin %>
          <li><%= link_to "All Residents",   '/static_pages/display' %></li>
        <% end %>
        <%if user_signed_in?%>
         <li><%= link_to "Log out", '/auth/logout', :method => :delete  %></li>
         <% end %>
      </ul>
    </nav>
  </div>
</header>