<nav class="navbar navbar-fixed-top justify-content-between">
<div class="container-fluid">
<div class="navbar-header"

  <a class="navbar-brand" href="#">
        <%= link_to image_tag("mf_white_half.png", height: '60', width: '360'), 'http://www.mayflowerhomes.com/', id: "logo" %>
  </a>
  </div>
  
  <ul class="nav navbar-nav navbar-right">
   <%if user_signed_in?%> 
    <li><%= link_to "Search",   '/static_pages/search' %></li>
    <%end%>
    <% if user_signed_in? && current_user.admin %>
      <li><%= link_to "Create Users",  '/profiles/new' %></li>
    <% end %>
    <% if user_signed_in? && current_user.admin %>
      <li><%= link_to "Edit Residents", '/static_pages/display' %></li>
    <% end %>
    <%if user_signed_in?%>
    <li><%= link_to "Home",   '/static_pages/home' %></li>
    <%end%>
    <% if user_signed_in? && !current_user.admin %>
      <li><%= link_to "All Residents",   '/static_pages/display' %></li>
    <% end %>
    <%if user_signed_in?%>
     <li><%= link_to "Log out", '/auth/logout', :method => :delete  %></li>
     <% end %>
  </ul>
</div>
</nav>
