<html>
 <head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  

 </head>
 
 <body>
    <div class="container">
      <nav class="navbar navbar-fixed-top justify-content-between">
        <div class="navbar-header"
          <a class="navbar-image" href="#">
                <%= link_to image_tag("mf_white_half.png", height: '60', width: '186'), 'http://www.mayflowerhomes.com/', id: "logo" %>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %> 
              <li><%= link_to "Search",   '/search' %></li>
            <% end %>
            <% if user_signed_in? %> 
              <li><%= link_to "Directory",   '/directory' %></li>
            <% end %>
            <% if user_signed_in? && current_user.admin %>
              <li><%= link_to "Create Profile",  '/profiles/new' %></li>
            <% end %>
            <% if user_signed_in? && current_user.admin %>
              <li><%= link_to "Create User",   '/auth/register/sign_up' %></li>
              <li><%= link_to "Users", users_path %></li>
            <% end %>
            <%if user_signed_in?%>
              <li><%= link_to "Resources",   '/home' %></li>
            <% end %>
            <% if user_signed_in?%>
              <li><%= link_to "Log out", '/auth/logout', :method => :delete  %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>