<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1 class="center">Change Your Password</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-horizontal">
      <div class="form-group">

        <%= f.label :current_password, class: "col control-label" %>
        <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", placeholder: 'Enter Current Password' %>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <label for="password", class: "col control-label">New </label>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Enter New Password' %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>

        <label for="password">New </label>
        <%= f.label :password_confirmation, class: "col control-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder:'Enter New Password' %>

      </div>
    </div>
    <center>
      <%= f.submit "Update", class: "btn btn-primary btn-large" %>
    </center>
    <% end %>
  </div>
</div>