<html>
  <head>  
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  </head>
  
  <body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <center><font size=7>Register New User</font></center>
          </br>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="form-horizontal", style="text-align:left">
          <div class="form-group">
    
            <%= f.label :email, class: "col control-label"%>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email' %>

            <%= f.label :password, class: "col control-label" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Enter password' %>

            <%= f.label :password_confirmation, class: "col control-label"%>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm password' %>
            
            </div>
            </div>
      
            <center>
              <%= f.submit "Sign up", class: "btn btn-primary btn-large" %> </br> </br>
              <%= render "users/shared/links" %>
           </center>
           <% end %>
      </div>
    </div>
  </body>
</html>